@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
:root {
    --laranja: #ffa500;
    --salmao: #dd1364d3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Agbalumo', serif;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul , li{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
ul ,li, a{
    text-decoration: none;
}