/* style.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF1F5;
  color: #5A3A3A;
}

.top-header {
   background: url('https://www.transparenttextures.com/patterns/wood-pattern.png');
   background: linear-gradient(135deg, #FADADD, #ce799c);
   padding: 20px 0;
   box-shadow: 0 2px 8px rgba(192,108,132,0.3);
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.logo {
  color: #5A3A3A;
  font-size: 32px;
  text-transform: uppercase;
  margin-left: 85px;
  font-weight: bold;
}

.logo:hover {
  color: #C06C84;
}

.container {
  color: #5A3A3A;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
   color: #5A3A3A;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #C06C84;
}

.hero {
   background-image: linear-gradient(
      rgba(250,218,221,0.7),
      rgba(250,218,221,0.7)
    ),
    url('https://cdn.pixabay.com/photo/2017/06/27/08/40/bread-2448667_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5A3A3A;
    text-align: center;
    padding: 20px;
}

.hero-content h2 {
  font-size: 48px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(255,255,255,0.6);
}
.hero-content h2:hover{
  color: #C06C84;
}

.hero-content p {
  font-size: 20px;
  text-shadow: 1px 1px 3px #000;
}

.produtos {
 background-color: #FFF8F8;
  padding: 20px 15px;
  text-align: center;
}

.produtos h2 {
  font-size: 24px;
  margin-bottom: 40px;
  margin-right: 70px;
  color: #6d4c41;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
}

.card {
 background-color: #FFFFFF;
  border-radius: 14px;
  box-shadow: 0 6px 12px rgba(232,160,176,0.25);
  padding: 20px;
  max-width: 200px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  margin: 0 0 10px 0;
  color: #C06C84;
}

.card p {
    margin: 0;
  color: #8A4F5C;
  font-weight: bold;
}

footer {
background: linear-gradient(135deg, #E8A0B0, #C06C84);
  color: #FFF8F8;
  text-align: center;
  padding: 20px 0;
  margin-top: 60px;
}